.aboutUs {
  width: 100%;
  height: 100vh;
  color: black;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 5%;
  position: relative;
  overflow: hidden;
}

.aboutCard {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  margin-bottom: 5vh;
  z-index: 0;
}

.PaperAndClip {
  width: 90vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.white {
  z-index: 4;
  top: 60%;
}

.white #Rectangle,
.white #Vector_1 {
  fill: #fff;
}

.gray {
  z-index: 3;
  top: 55%;
}

.gray #Rectangle,
.gray #Vector_1 {
  fill: #191a19;
}

.beige {
  z-index: 2;
  top: 50%;
}

.beige #Rectangle,
.beige #Vector_1 {
  fill: #d8e9a8;
}

.darkGreen {
  z-index: 1;
  top: 45%;
}

.darkGreen #Rectangle,
.darkGreen #Vector_1 {
  fill: #1e5128;
}

.ligthGreen {
  z-index: 0;
  top: 40%;
}

.ligthGreen .clip #Vector_1 {
  fill: #4e9f3d;
}

.ligthGreen #Rectangle {
  fill: #4e9f3d;
}

@-webkit-keyframes AboutCardAppear {
  100% {
    -webkit-transform: translateY(-25vh);
            transform: translateY(-25vh);
  }
}

@keyframes AboutCardAppear {
  100% {
    -webkit-transform: translateY(-25vh);
            transform: translateY(-25vh);
  }
}

@-webkit-keyframes AboutCardDesappear {
  0% {
    -webkit-transform: translateY(-25vh);
            transform: translateY(-25vh);
  }
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

@keyframes AboutCardDesappear {
  0% {
    -webkit-transform: translateY(-25vh);
            transform: translateY(-25vh);
  }
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

.infoAboutConteiner {
  position: relative;
  width: 100%;
}

.aboutImage {
  left: 62%;
  width: 30vw;
  position: absolute;
  top: 1vh;
  border-radius: 10px;
}

.AboutText {
  padding: 1%;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 2vh;
  left: 10%;
  font-size: 0.6rem;
  width: 10rem;
  line-height: 1.3;
}

.rectangle {
  width: 90vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 0%;
  left: 5%;
}

.clip {
  width: 15vw;
  position: absolute;
  top: -1.4vh;
  left: 83%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media all and (min-width: 600px) {
  .AboutText {
    font-size: 1rem;
    width: 20rem;
  }
  .aboutImage {
    height: 33vh;
    width: 23vw;
    left: 57%;
  }
  .clip {
    width: 5vw;
    left: 90%;
  }
  .white {
    top: 55%;
  }
  .gray {
    top: 50%;
  }
  .beige {
    top: 45%;
  }
  .darkGreen {
    top: 40%;
  }
  .ligthGreen {
    top: 35%;
  }
  .rectangle {
    width: 100%;
    height: auto;
  }
  .aboutCard {
    width: 60vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
/*# sourceMappingURL=aboutUs.css.map */