*,
::after,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans";
}
html {
    font-size: 16px;
}
#root {
    height: 100%;
}
body {
    width: 100%;
    background-color: #597e4e;
}
.app {
    background: linear-gradient(#597e4e, rgb(41, 62, 60));
    width: 100%;
    display: grid;
    align-content: flex-start;
    min-height: 100vh;
}
.logoAndName {
    position: absolute;
    z-index: 2;
    top: 1rem;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    width: fit-content;
}
.name {
    font-size: 1.5em;
    color: white;
    font-weight: 800;
}
.logo {
    width: 2rem;
    height: 2rem;
}
@media all and (max-width:600px) {
    .logoAndName
    {
        top: 5%;
    }
}