.NavIcon {
  position: fixed;
  top: 1%;
  left: 85%;
  height: -moz-fit-content;
  background-color: transparent;
  border-style: none;
  outline: none;
  z-index: 3;
}

.trunks {
  position: absolute;
}

.trunks #bottomTrunk {
  transform-box: fill-box;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-animation: crossBB 1s ease forwards;
          animation: crossBB 1s ease forwards;
}

@-webkit-keyframes crossBB {
  0% {
    -webkit-transform: rotateZ(31deg) translateX(-1px);
            transform: rotateZ(31deg) translateX(-1px);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes crossBB {
  0% {
    -webkit-transform: rotateZ(31deg) translateX(-1px);
            transform: rotateZ(31deg) translateX(-1px);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

.trunks #midTrunk {
  -webkit-animation: crossMB 1s ease forwards;
          animation: crossMB 1s ease forwards;
}

@-webkit-keyframes crossMB {
  0% {
    -webkit-transform: translateY(3em);
            transform: translateY(3em);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes crossMB {
  0% {
    -webkit-transform: translateY(3em);
            transform: translateY(3em);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.trunks #topTrunk {
  transform-box: fill-box;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-animation: crossTB 1s ease forwards;
          animation: crossTB 1s ease forwards;
}

@-webkit-keyframes crossTB {
  0% {
    /*                 transform: rotateZ(-45deg) translateY(1.8em) translateX(-1.9em);
 */
    -webkit-transform: rotateZ(-35deg) translateX(-1px);
            transform: rotateZ(-35deg) translateX(-1px);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes crossTB {
  0% {
    /*                 transform: rotateZ(-45deg) translateY(1.8em) translateX(-1.9em);
 */
    -webkit-transform: rotateZ(-35deg) translateX(-1px);
            transform: rotateZ(-35deg) translateX(-1px);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

rect {
  fill: transparent;
}

.crossTrunks {
  position: absolute;
  z-index: 3;
}

.crossTrunks #bottomTrunk {
  -webkit-animation: crossB 1s ease forwards;
          animation: crossB 1s ease forwards;
  transform-box: fill-box;
  -webkit-transform-origin: right;
          transform-origin: right;
}

@-webkit-keyframes crossB {
  100% {
    -webkit-transform: rotateZ(31deg) translateX(-1px);
            transform: rotateZ(31deg) translateX(-1px);
    /* transform: rotateZ(45deg) translateY(-2.6em) translateX(0.4em); */
  }
}

@keyframes crossB {
  100% {
    -webkit-transform: rotateZ(31deg) translateX(-1px);
            transform: rotateZ(31deg) translateX(-1px);
    /* transform: rotateZ(45deg) translateY(-2.6em) translateX(0.4em); */
  }
}

.crossTrunks #midTrunk {
  -webkit-animation: crossM 1s ease forwards;
          animation: crossM 1s ease forwards;
}

@-webkit-keyframes crossM {
  100% {
    -webkit-transform: translateY(3em);
            transform: translateY(3em);
  }
}

@keyframes crossM {
  100% {
    -webkit-transform: translateY(3em);
            transform: translateY(3em);
  }
}

.crossTrunks #topTrunk {
  transform-box: fill-box;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-animation: crossT 1s ease forwards;
          animation: crossT 1s ease forwards;
}

@-webkit-keyframes crossT {
  100% {
    /* transform: rotateZ(-45deg) translateY(1.8em) translateX(-1.9em); */
    -webkit-transform: rotateZ(-35deg) translateX(-1px);
            transform: rotateZ(-35deg) translateX(-1px);
  }
}

@keyframes crossT {
  100% {
    /* transform: rotateZ(-45deg) translateY(1.8em) translateX(-1.9em); */
    -webkit-transform: rotateZ(-35deg) translateX(-1px);
            transform: rotateZ(-35deg) translateX(-1px);
  }
}
/*# sourceMappingURL=navBarIcons.css.map */