.navBarConteiner {
    top: 0%;
    left: 0%;
    display: flex;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 6rem;
    background-color: rgba($color: black, $alpha: 0.3);
    z-index: 1;
    justify-content: center;
    align-items: center;
}
.navBarD {
    position: relative;
    display: flex;
    gap: 1rem;
}
.navBtnD {
    color: white;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    align-content: center;
    gap: 0.3rem;
}
.navBtnD:hover {
    font-weight: 800;
}
.navBtnS {
    color: white;
    font-family: inherit;
    font-size: 1.5rem;
    position: absolute;
    left: 45vw;
    width: 8em;
    font-weight: 800;
    display: flex;
    align-content: center;
    gap: 0.5rem;
    justify-content: center;
    border-bottom: solid;
    border-bottom-color: transparent;
}
.navBtnS:hover {
    border-bottom-color: aqua;
    text-decoration-style: dashed;
    transition: all 1s ease;
}
.arrowHeadD {
    fill: white;
    transform: rotate(0);
    width: 1rem;
}
.longArrow {
    width: 1rem;
    fill: white;
    transform: rotate(-90deg);
}
.On {
    font-weight: 800;
}
