.newTours {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.signAndText
{
    position: relative;
    left: 50%;
    top: 10%;
    height: fit-content;
    width: fit-content;
    transform: translateX(-50%);
    z-index: 2;
}
.wodenSign {
    width: 20rem;
    position: relative;
    height: fit-content;
    justify-self: center;
}
.descriptionTours{
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: white;
    padding: .5rem;
    border-radius: 10px;
    width: 18rem;
    font-size: .9rem;
    z-index: 2;
}
.nextNewTours{
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: white;
    padding: .5rem;
    border-radius: 10px;
    width: fit-content;
    font-size: .9rem;
    z-index: 2;
}
.movingBg {
    width: 100%;
    height: 100vh;
    position: absolute;
}
.bgTours {
    height: 100vh;
    position: relative;
}
.movingBg {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.ChangeNewTours{
    position: relative;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    z-index:2;
    height: 10rem;
}
.newToursBtn{
    transform: translateX(-50%);
    position: relative;
    z-index: 3;
    padding: 1rem;
    border-radius: 10px;
    border: solid;
    border-width: thin;
    border-color: white;
    color: white;
    left: 50%;
    top: 20%;
    height: 5rem;
    display: grid;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
@media all and (min-width:600px) {
    .bgTours {
        width: 100%;
        position: relative;
        top: -40%;
        left: 0%;
        height: auto;
    }
}