.ToursMainPage {
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
}

.whereToAdventure {
  color: white;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -30%;
  gap: .5rem;
}

.birds {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  z-index: 0;
  top: -7%;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.rigthBird {
  width: 15em;
  height: 15em;
}

.leftBird {
  width: 13em;
  height: 13em;
  position: relative;
  left: -62%;
}

.centerBirds {
  width: 20rem;
  height: 20rem;
  position: relative;
  left: -66%;
}

.leftBirdConteiner {
  overflow: hidden;
  width: 8em;
  height: 8em;
  top: 64%;
  position: relative;
  left: 1%;
  border-radius: 5px;
}

.rigthBirdConteiner {
  overflow: hidden;
  width: 8em;
  height: 8em;
  position: relative;
  left: 63%;
  top: 1%;
  border-radius: 5px;
}

.centerBirdsConteiner {
  overflow: hidden;
  position: relative;
  left: 26%;
  top: 22%;
  width: 12rem;
  height: 12rem;
  border-radius: 5px;
}

.cardConteiner {
  position: relative;
  z-index: 1;
}

.PresentationCard {
  background-color: #666b67;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.left {
  left: -40%;
}

.rigth {
  left: 40%;
}

.cards {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  color: white;
  gap: 1rem;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 150vh;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardPhoto {
  width: 12rem;
}

.cardTextConteiner {
  padding: 1rem;
}

.cardText {
  width: 10rem;
  margin-top: 1rem;
  word-break: break-all;
}

.cardTitle {
  width: 10rem;
}

.more {
  color: white;
  background: transparent;
  border: solid;
  border-width: thin;
  padding: 1rem;
  width: 8rem;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -30%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.moreE {
  color: white;
  background: transparent;
  border: solid;
  border-width: thin;
  padding: 1rem;
  width: 8rem;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -30%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media all and (min-width: 600px) {
  .ToursMainPage {
    justify-items: center;
  }
  .whereToAdventure {
    font-size: 2rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    top: -3rem;
  }
  .birds {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .rigthBirdConteiner {
    left: 15%;
    top: -2rem;
    width: 16em;
    height: 16em;
  }
  .rigthBird {
    width: 25em;
    height: 25em;
  }
  .centerBirdsConteiner {
    left: 11%;
    top: -25%;
    width: 20rem;
    height: 20rem;
  }
  .centerBirds {
    top: 0px;
    left: 0;
    left: -30%;
    width: 26rem;
    height: 26rem;
  }
  .leftBirdConteiner {
    left: 15%;
    top: -2rem;
    width: 16em;
    height: 16em;
  }
  .leftBird {
    width: 20em;
    height: 20em;
    left: -25%;
  }
  .cards {
    position: absolute;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 5rem;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    left: 50%;
  }
  .left {
    left: 0%;
  }
  .rigth {
    left: 0%;
  }
  .cardPhoto {
    width: 18rem;
    height: 12rem;
  }
  .cardText {
    font-size: 1rem;
    width: 14rem;
  }
  .moreE {
    left: 0;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
/*# sourceMappingURL=ToursMain.css.map */